/*Casey Nolan*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Brand stuff*/
:root{
    --color-yellow: #F6D64A;
    --color-teal: #55BCD5;
    --color-purple: #9B26B0;
    --color-blue: #499BD2;
    --color-dark-gray: #222222;
    --color-light-gray: #EAEAEA;
    --color-white: #FFFFFF;
    --color-black: #000000;
}
h1,h2,h3{
    font-family: 'Molle', cursive;
    color: var(--color-purple);
    }

h4, h5, h6, p, li, a, label, input, button{
    font-family: 'Monterrat', sans-serif;
    color: var(--color-dark-gray);
}

a{
    text-decoration: none;
    color: var(--color-teal);
}

a:hover{
    text-decoration: underline;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

header{
    background-color: var(--color-blue);
    padding: 1rem;
    text-align: center;
}

#logo{
    max-width: 150px;
}

nav{
    margin-top: 1rem;
}

#menu-toggle{
    display: none;
}

nav ul{
    list-style: none;
    padding: 0;
}

nav li{
    display: inline-block;
    margin-right: 20px;
}

nav a{
    text-decoration: none;
    color: var(--color-white);
    font-weight: bold;
}

main{
    padding: 2rem;
}

#intro, #plan, #testimonials, #about, #contact{
    margin-bottom: 2rem;
}


footer{
    background-color: var(--color-dark-gray);
    color: var(--color-light-gray);
    padding: 1rem;
    text-align: center;
}

@media (min-width: 320px){
    body{
        font-family: 'Montserrat', sans-serif;
        color: var(--color-dark-gray);
        background-color: var(--color-white);
    }

    h1, h2, h3{
        font-family: 'Molle', cursive;
        color: var(--color-purple);
    }

    h4, h5, h6, p, li, a, label, input, button{
        font-family: 'Montserrat', sans-serif;
        color: var(--color-dark-gray);
    }

    a:hover{
        text-decoration: underline;
    }

    .text-center{
        text-align: center;
    }

    .text-left{
        text-align: left;
    }

    .text-right{
        text-align: right;
    }

    header{
        background-color: var(--color-blue);
        padding: 1rem;
        text-align: center;
    }

    #logo{
        max-width: 150px;
        margin: auto;
        display: block;
    }

    nav{
        margin-top: 1rem;
    }

    nav ul{
        list-style: none;
        padding: 0;
        text-align: center;
    }

    nav-li{
        display: inline-block;
        margin: 0 10px;
    }

    nav a{
        text-decoration: none;
        color: var(--color-white);
        font-weight: bold;
        /*display: block;
        margin: 5px 0;*/
    }

    main{
        padding: 2rem;
    }

    #plan{
    text-align: center;
    padding: 1rem;
    }

    #plan h3{
        margin-bottom: 1rem;
        color: var(--color-dark-gray);
    }

    #plan > div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #plan section {
        margin-bottom: 1rem;
    }

    #plan h4 {
        color: var(--color-blue);
    }

    #plan a{
        display: inline-block;
        margin: 0.5rem;
        text-decoration: none;
    }

    #plan img{

        width: 50px;
        height: auto;
    }

    img{
        max-width: 100%;
        height: auto;
    }

    #about div, #contact form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #about section, #contact div {
        margin: 20px 0;
    }

    #about img, #contact img{
        width: 50%;
        margin: 5px 0;
    }


    #contact form div{
        width: 100%;
        margin: 10px 0;
    }

    #contact form label, #contact form input, #contact form select, #contact form .custom-select{
        width: 100%;
        margin: 5px 0;
    }
    #conact input[type="submit"]{
        background-color: #55BCD5;
        color:#FFFFFF;
        border: none;
        padding: 10px;
        cursor: pointer;

    }

    footer{
        background-color: var(--color-light-gray);
        color: var(--color-dark-gray);
    }
}

@media only screen and (min-width: 600px){
    header{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 20px
    }

    nav ul{
        display: flex;
        list-style: none;
        padding: 0;
    }
    
    nav ul li{
        margin-left: 20px;
    }
    
    nav ul li a{
        text-decoration: none;
        color:#222222;
        font-weight: 600;
    }

    #intro, #plan, #testimonials, #about, #contact{
        padding: 20px;
    }
    
    #img-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    #about div, #contact form{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #about section, #contact div{
        width: 45%;
    }

    #contact form div{
        width: 45%;
    }

    #contact form label, #contact form input, #contact form select, #contact form .custom-select{
        width: auto;
    }

    footer{
        background-color: var(--color-light-gray);
        color: var(--color-dark-gray);
    }
}

@media (min-width: 992px) {

    header{
        justify-content: start;
    }

    nav ul{
        padding-left: 0;
    }

    #main-content{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 40px
    }

    #img-grid{
        grid-template-columns: repeat(3, 1fr);
    }

    #plan div, #testimonials div, #about div{
        display: flex;
        justify-content: space-between;
    }

    #about{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        text-align: center;
        color: #499BD2
    }

    #about div{
        margin: 20px
    }

    #about img{
        margin: 0 auto;
        width: 80px;
        height: auto;
    }

    #about h4{
        margin-top: 10px;
        font-weight: 600;
        color: #222222;

    }

    #about p{
        font-size: 0.9rem;
        color: #555;

    }
    #about div, #contact form{
        justify-content: space-between;
    }

    #about section, #contact div{
        width: calc(25% - 20px);
        margin: 0 10px;
    }

    #contact{
        background-color: #EAEAEA;
        padding: 40px;
    }

    #contact form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        align-items: center;
    }

    #contact label{
        display: block;
        margin-bottom: 5px;
        color:#222222;
    }

    #contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact select{
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #d5d5d5;
    }

    #contact input[type="submit"]{
        grid-column: span 2;
        padding: 15px;
        background-color: #9B26B0;
        color: white;
        border: none;
        cursor: pointer;
    }

    #contact .radio-input{
        margin-right: 10px;
    }

    #contact .radio-label{
        color: #222222;
    }

    #contact .required {
        color:#9B26B0;
    }

    #contact form div{
        width: calc(50% - 20px);
    }

    #contact form div#names, #contact form div#nums, #contact form div#selects{
        grid-column: span 2;
    }

    #contact form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    #contact input[type="submit"]{
        max-width: 200px;
    }

    footer{
        background-color: var(--color-light-gray);
        color: var(--color-dark-gray);
    }
}